body {
  font-family: "Walter Turncoat", cursive;
  text-align: center;
}

button {
  font-family: "Walter Turncoat", cursive;
  border-radius: 3px;
  border: 1px solid grey;
}

h1 {
  font-family: "Permanent Marker", cursive;
  margin-bottom:5px;
}

#container {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  /* grid-template-columns: repeat(4, 1fr); */
  place-items: center;
  background: #000;
  justify-content: space-evenly;
  align-content: space-evenly;
  row-gap: 10px;
  padding: 10px 0px;
  border-radius: 5px;
  max-width: 80vh;
  margin: auto;
}

.grid-item {
  border: 1px solid black;
  background: #42422c;
  border-radius: 8px;
  max-width: inherit;
  overflow: hidden;
}

.tile {
  height: 17vw;
  width: auto;
  max-width: inherit;
  overflow: hidden;
  max-height: 17vh;
}

.hidden {
  content: url("./images/bam.png");
  padding: 0px;
  overflow: hidden;
  max-width: inherit;
}

.matched {
  opacity: 0.7;
}
